nav{
    box-shadow: 5px 2px #888888!important;
    padding: 30px!important;
    background-color: blanchedalmond;
}

.cont{
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
}
a{
    color: black!important;
}

.logo{
    font-size: 50px!important;
}

.caro-inner{
    max-height: 600px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    display: inline-block;
    width: 120px;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="password"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  input:invalid {
    border-color: red;
  }
  
.now-showing{
    margin: auto 50%;
    width:100%;
    margin-bottom: 40px;
}

.card-movie{
  display: flex;
  flex-direction: column;
  
}

.card-movie img {
  max-width: 250px;
}

.card-movie a {
  max-width: 200px;
  margin-left: 20px;
  margin-top: 10px;
}